@media screen and (min-width: 100px) {

    body {
        margin:10%;
        justify-content:center;
        display:flex;
    }


    .navhead {
        display: flex;
        justify-content: center;
        background-color:peachpuff;
        margin: 20px;
    }

   .bignavlinks {
        display: column;
        align-content: flex-end;
        background-color: peachpuff;
        padding: 10px;
        width:fit-content;
    


    }

    /* innermonologue css */


    h1 {
        margin: 10px;
       color: black;
       
    }

   marquee { 
    font-size:50px;
    border: solid 10px;
    margin-left: 0;
    color: black;
    background:peachpuff;
    };

}