@media screen and (min-width: 100px) {

  body {
  display:flex;
  justify-content: center;
  font-family: 'Tangerine', serif;
  font-size: 55px;
  }
}

header {
width: 60px;
margin-top:40px;
margin-bottom:40px;
margin-left: 80px;

}

.sitelist {
  color:rgb(28, 95, 220);
  position:sticky;
  background-color: rgb(37, 188, 90);
  margin: 50px;
  align-self: center;
  word-spacing: 3px;
  



}

ul a {

  color:rgb(116, 3, 107);
  font-size: 20px;
 
 
}

ul {
  padding:3%;
  background-color: antiquewhite;
  
}

a:hover  {
  color:rgb(223, 226, 43);
  
}
