@media screen and (min-width: 360px) {

header {
display: flex;
justify-content:baseline;

}

.sitelist {
  color:rgb(43, 226, 186);
  list-style-type:armenian;
  justify-content: flex-end;
}

ul {
    font-size: 20px;

   
  }

  a {
color:rgb(84, 20, 149);
font-weight: 100;
  }


.blinkies{
display: flex;
justify-content: center;
}
}