@media screen and (min-width: 100px) {

header {
width:60%;
}

.sitelist {
  text-transform: capitalize;
  justify-content: center;
  color:rgb(43, 226, 186);
}

ul {
    font-size: 15px;
   
  }

  a {
color:rgb(20, 149, 39)
  }

.enter {
  justify-content: center;
}
}