@media screen and (min-width: 100px) {

body {
    margin: 60px;
}

.verses {
color:bisque;
padding:20px;
text-align: center;
background-color: black;
}

header {
    color: greenyellow;
    text-align: center;
}

.footer {
    color: greenyellow;
    padding: 20px;
    
}

.softer {
    color: pink;
    padding:10px;
    font-size: 50px;
    background: black;
    margin:
    
}
}