@media screen and (min-width: 360px) {

  body {
  position:relative;
  display: center;

  }

  header.stein {
    display: flex;
    justify-content: space-evenly;
   
  }
  pre {
display: flex;
justify-content: space-between;
  }

  h1.stein { 
  display: flex;
  justify-content:space-around;
  padding-left:2px;
  padding-right:2px;
  margin-bottom:5%;
  margin-left: auto;
  margin-right: auto;
  color:rgb(0, 255, 4);
  border: solid rgb(0, 255, 4);
  background-color:rgba(33, 100, 145, 0.719);
  font-size: 5px;
  }
  

.enter {
 display: flex;
 justify-content: center;
 padding-bottom: 0;

}
 
  .pets {
    justify-content:center;
    display: flex;
  }
  
  #tama {
    justify-content: space-evenly;
    padding-top: 10px;
  }
  
  #hamster {
    display:flex;
    justify-content:center;
    padding-top: 5px;
    padding-bottom:20px;

    
  }
  
  #smiley {
    display: flex;
    justify-content: space-evenly;
    padding-top:30px;
    padding-left:10px;
    padding-right:10px;
  }
}