@media screen and (min-width: 0px) {

  body {
  position:sticky;
  display: center;

  }
  
  header {
    display:flex;
    justify-content: center;
  
   }


  h1 { 
  display: flex;
  justify-content:center;

  padding-left:4px;
  padding-right:4px;
  margin-bottom:0%;
  color:rgb(0, 255, 4);
  border: solid rgb(0, 255, 4);
  background-color:rgba(33, 100, 145, 0.719);
  font-size: 4px;
  }
  

.enter {
 display: flex;
 justify-content: center;
 padding-bottom: 0;

}
 
  .pets {
    justify-content:center;
    display: flex;
  }
  
  #tama {
    justify-content: center;
    padding-top: 10px;
  }
  
  #hamster {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom:20px;
    padding-left: 50px;
    padding-right: 50px;
    
  }
  
  #smiley {
    padding-top:30px;
    padding-left:30px;
    padding-right:30px;
  }
}